.DS_Store
.idea/
cmake-build-debug/

build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/compile.sh
build/make.sh
build/question_recall_server_test.sh
build/run_client.sh
build/run_main.sh
build/run_server.sh
build/config/
build/task/
build/graph_define/
build/result/
build/test_data/
build/log/
exp/result/*
exp/prune_input/*
result/*
log/*

*.dat
*.csv
*.json
*.log
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
